In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
dates = pd.date_range('20130101', periods=6)

In [8]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [10]:
df

                   A         B         C         D
2013-01-01  0.216685  0.985072  0.684040 -0.261111
2013-01-02 -0.810173  0.324960  0.564296  0.076025
2013-01-03  0.294008 -1.223591 -0.889568 -1.083038
2013-01-04  0.022597 -0.065830 -0.441146  1.563259
2013-01-05 -0.380182 -0.757983 -1.419393  1.164820
2013-01-06 -2.369007 -0.594106 -0.938824  0.361598

In [11]:
df.mean()

A   -0.504345
B   -0.221913
C   -0.406766
D    0.303592
dtype: float64